<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale"/>
        <title>Ordem de Serviço</title>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    
    <body>
        <header>
            <img th:src="@{/images/Logo.png}"alt="Logo Auto mecanica" width="200" height="200"/>
            <h1>Auto Mecânica São Geraldo</h1>
        </header>
        
        <!-- Link para voltar -->
        <a th:href="@{/inicio}" class="btn btn-secondary">Voltar</a>
        
        <!-- Título -->
        <h2>Serviços</h2>
        
        <!-- Formulário -->
        <form name="formCadastroServico" th:action="@{/registrar-servico}" method="post" th:object="${servico}" onsubmit="return validarFormularioServico();">
            <label for="data">Data:</label>
            <input type="text" th:field="*{data}" id="data" name="data" placeholder="DD/MM/YYYY">
            <br />
            
            <label for="descricao">Descrição:</label>
            <input type="text" th:field="*{descricao}" id="descricao">
            <br />
            
            <label for="valor">Valor:</label>
            <input type="number" th:field="*{valor}" id="valor">
            <span th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span>
            <br />
            
            <label for="cliente">Cliente:</label>
            <select th:field="*{clienteId}" required>
                <option value="" disabled selected>Selecione um cliente</option>
                <option th:each="cliente : ${clientes}" 
                        th:value="${cliente.id}" 
                        th:text="${cliente.nome}">
                </option>
            </select>

            <label for="realizada">Realizada:</label>
            <input type="checkbox" th:field="*{realizada}">
                
            <p><input type="submit" class="btn btn-secondary" value="Registrar"></p>
            
        </form>
        
        <!-- Tabela de Ordens de Serviço -->
        <table id="historico" border="1">
            <thead>
                <tr>
                    <th colspan="9">Minhas ordens de serviço</th>
                </tr>
                
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Cliente</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Realizado</th>
                    <th>Ações</th>
                </tr>
               
                <tr th:each="registroServico : ${listaServico}">
                    <td th:text="${registroServico.id}"></td>
                    <td th:text="${registroServico.dataFormatada}"></td>
                    <td th:text="${registroServico.descricao}"></td>
                    <td th:text="${registroServico.valor}"></td>
                    <td th:text="${registroServico.clienteId != null ? registroServico.clienteId.nome : 'Cliente não associado'}"></td>
                    <td th:text="${registroServico.clienteId != null ? registroServico.clienteId.modelo : 'Modelo não disponível'}"></td>
                    <td th:text="${registroServico.clienteId != null ? registroServico.clienteId.placa : 'Placa não disponível'}"></td>
                    <td th:text="${registroServico.realizada ? 'Sim' : 'Não'}"></td>
                    <td>
                        <a th:href="@{'/atualizar-servico?id=' + ${registroServico.id}}" class="btn btn-success">Editar</a>
                        <a th:href="@{'/excluir-servico?id=' + ${registroServico.id}}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                
            </thead>
            
            <tbody>
                <!-- Registros serão adicionados aqui -->
            </tbody>
            
        </table>
        
        <!-- Scripts -->
        <script th:src="@{/js/script.js}"></script> 
    </body>
</html>